In [ ]:
## Data_preprocessing_Economic_indicator

from google.colab import drive
drive.mount( '/content/drive' )

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
GDP_data = pd.read_excel('/content/drive/MyDrive/공모전/B.I. 공모전/Data/명목_GDP.xlsx')
industrial_production_indicator = pd.read_excel("/content/drive/MyDrive/공모전/B.I. 공모전/Data/생산지수.xlsx")

#print(GDP_data)
#print(industrial_production_indicator)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
# 숫자 내 comma 제거

def remove_rest(x):
    return float(x.replace("," , ""))

In [ ]:
# 데이터 내 필요한 기간만 사용

industrial_production_indicator = industrial_production_indicator[3:141]
industrial_production_indicator = industrial_production_indicator.reset_index(drop = True)
GDP_data = GDP_data[2:48]
GDP_data = GDP_data.reset_index(drop = True)
GDP_data['국내총생산 및 경제성장률'] = GDP_data['국내총생산 및 경제성장률'].apply(remove_rest)

In [ ]:
industrial_production_indicator

,통계표명:,"전산업생산지수(원지수)_분기,월",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,201110월,88.4,3.5,4.3,1.9,3.7,-1.3
1,201111월,88.4,2.7,3.7,-7.2,3.3,3.1
2,201112월,96.6,1.7,2.4,1.6,1.8,-2.1
3,201201월,84.7,-1.4,-3.2,-11.0,0.1,2.7
4,201202월,84.6,9.4,15.3,8.3,5.9,10.0
...,...,...,...,...,...,...,...
133,202211월,110.4,1.3,-5.5,11.8,3.9,0.1
134,202212월,123.0,0.7,-10.5,0.4,6.6,-0.5
135,202301월,103.0,-1.4,-13.4,3.6,4.8,-2.6
136,202302월,102.5,3.5,-8.2,19.5,8.6,1.0
137,202303월,114.9,2.0,-7.6,12.0,6.2,1.7

In [ ]:
GDP_data

      통계표명:  국내총생산 및 경제성장률 Unnamed: 2
0   20114/4       367175.4        2.6
1   20121/4       344574.6        2.4
2   20122/4       358275.7        2.4
3   20123/4       361834.3        2.3
4   20124/4       375426.7        2.5
5   20131/4       355384.7        2.3
6   20132/4       373096.5        2.9
7   20133/4       379887.2        3.5
8   20134/4       392450.8        3.9
9   20141/4       373559.7        3.8
10  20142/4       388566.9        3.4
11  20143/4       393425.4        3.1
12  20144/4       407377.0        2.6
13  20151/4       394273.0        2.4
14  20152/4       411386.8        2.0
15  20153/4       420790.8        3.3
16  20154/4       431569.8        3.4
17  20161/4       413495.1        2.8
18  20162/4       434536.3        3.6
19  20163/4       439479.8        2.8
20  20164/4       453268.4        2.6
21  20171/4       433086.1        3.1
22  20172/4       454226.7        2.8
23  20173/4       473427.5        3.9
24  20174/4       474957.9        2.9
25  20181/4       449357.8        2.9
26  20182/4       472929.4        3.1
27  20183/4       485723.8        2.4
28  20184/4       490181.6        3.2
29  20191/4       455551.1        1.9
30  20192/4       480832.1        2.3
31  20193/4       488771.2        2.1
32  20194/4       499343.6        2.7
33  20201/4       459774.2        1.4
34  20202/4       475617.4       -2.6
35  20203/4       496391.7       -0.9
36  20204/4       508943.0       -0.7
37  20211/4       484679.0        2.4
38  20212/4       517054.3        6.4
39  20213/4       531525.5        4.1
40  20214/4       546939.7        4.3
41  20221/4       512012.9        3.1
42  20222/4       544239.8        2.9
43  20223/4       548892.5        3.2
44  20224/4       556628.7        1.4
45  20231/4       523816.2        0.9

In [ ]:
# 분기 GDP --> 월별 GDP

temp_result = []

for i in GDP_data.index:

    a = float(industrial_production_indicator['전산업생산지수(원지수)_분기,월'][3*i])

    b = float(industrial_production_indicator['전산업생산지수(원지수)_분기,월'][3*i+1])

    c = float(industrial_production_indicator['전산업생산지수(원지수)_분기,월'][3*i+2])

    sum  = a + b + c

    mon_result1 = (a / sum) * float(GDP_data['국내총생산 및 경제성장률'][i])
    mon_result2 = (b / sum) * GDP_data['국내총생산 및 경제성장률'][i]
    mon_result3 = (c / sum) * GDP_data['국내총생산 및 경제성장률'][i]

#    print(mon_result1, mon_result2, mon_result3)

    temp_result.append(mon_result1)
    temp_result.append(mon_result2)
    temp_result.append(mon_result3)


print(len(temp_result))
print(temp_result)

138
[118720.94133138261, 118720.94133138261, 129733.51733723482, 111907.47170245397, 111775.34953987728, 120891.7787576687, 116600.98795045044, 120232.16058558557, 121442.55146396394, 121854.85017182131, 117019.34024436808, 122960.10958381063, 120223.97962154297, 123229.57911208154, 131973.14126637558, 119093.12109672505, 113003.13194973342, 123288.4469535415, 123588.215625, 124685.55827205884, 124822.72610294117, 128491.2588235294, 125196.61116138761, 126199.33001508293, 127803.78639262934, 127386.58143160879, 137260.43217576187, 124194.29697422488, 118612.53081807995, 130752.8722076952, 129428.10196363635, 128156.42847272729, 130982.36956363638, 134734.72602739726, 128180.06368011846, 130510.61029248426, 132068.07102672296, 130635.66244725739, 144673.2665260197, 130886.31038332713, 124430.0349832527, 138956.65463342017, 136834.34915861086, 134477.67576083067, 140074.77508055855, 140568.85266594123, 137363.6996735582, 142858.24766050052, 140043.88685015292, 138870.74434250768, 152655.16880733945, 135879.83496732026, 130774.95718954249, 146840.30784313724, 141288.17779315115, 143693.0829470771, 149555.0392597717, 147009.63348607687, 145615.44307366936, 146854.7234402538, 144729.8968760276, 147561.89279842156, 160976.6103255508, 140129.42921465967, 138768.94931937172, 154187.72146596859, 148753.49939291735, 150285.46128161886, 155187.73932546374, 155728.51842461122, 154128.01977687626, 163570.96179851252, 148463.45424901185, 158006.41600790512, 168488.02974308303, 150404.8834710744, 141275.36893939393, 157677.5475895317, 155871.2766280992, 156652.9781157025, 160405.14525619836, 163874.42645074223, 161580.18448043187, 160269.18906882592, 160720.4347770292, 159305.08848251522, 170156.07674045558, 154789.744659523, 141090.14365710338, 159671.21168337367, 158963.18688094456, 161013.30734667103, 160855.6057723844, 165425.23257676902, 161836.12496662216, 161509.8424566088, 160972.6078947368, 161754.7877192982, 176616.2043859649, 153050.04757380387, 147277.51774686124, 159446.63467933494, 154490.63656792647, 155300.33592100782, 165826.4275110657, 165854.80357745526, 159823.71981100237, 170713.17661154235, 160557.4778059607, 165721.13538363983, 182664.3868103995, 158012.4484364604, 152369.14670658682, 174297.40485695275, 168980.52201892744, 168817.41340694006, 179256.36457413252, 178433.35054874112, 173972.5167850226, 179119.63266623628, 171040.59583828776, 177218.86831153388, 198680.23585017837, 169213.62444655283, 160307.64421252374, 182491.6313409235, 177946.4260973425, 180709.06467602274, 185584.30922663485, 184754.09431366553, 181062.36854173036, 183076.03714460408, 177419.30542907177, 179368.96812609455, 199840.42644483357, 168392.84831460676, 167575.4073033708, 187847.94438202248]

In [ ]:
b = pd.date_range(start = '2012-01-01', end = '2023-03-31-23:55', freq = '5T')

In [ ]:
c = [0] * len(b)

In [ ]:
time_gdp_df = pd.DataFrame(index = b, data = c, columns=['5time_GDP'])

In [ ]:
time_gdp_df

                     5time_GDP
2012-01-01 00:00:00          0
2012-01-01 00:05:00          0
2012-01-01 00:10:00          0
2012-01-01 00:15:00          0
2012-01-01 00:20:00          0
...                        ...
2023-03-31 23:35:00          0
2023-03-31 23:40:00          0
2023-03-31 23:45:00          0
2023-03-31 23:50:00          0
2023-03-31 23:55:00          0

[1183104 rows x 1 columns]

In [ ]:
pre_diff_day = 0

for i in range(len(result_df.index)-1):

    first = result_df.index[i]
    second = result_df.index[i+1]

    first_GDP = result_df['Month_GDP'][i]
    second_GDP = result_df['Month_GDP'][i+1]

    diff_GDP = second_GDP - first_GDP
    diff_day = ((second - first) * 288).days

    print("diff_GDP :", diff_GDP)

    print("diff_days : ", diff_day)

    for j in range(pre_diff_day, pre_diff_day + diff_day):

        ##print(((j +1 - pre_diff_day) / float(diff_day) * float(diff_GDP)))
        time_gdp = float(first_GDP) + ((j +1 - pre_diff_day) / float(diff_day) * float(diff_GDP))
        #print("time_gdp", time_gdp)
        time_gdp_df['5time_GDP'][j] = time_gdp

    pre_diff_day += diff_day

    print(pre_diff_day)

In [ ]:
time_gdp_df

                         5time_GDP
2012-01-01 00:00:00  129731.520692
2012-01-01 00:05:00  129729.524047
2012-01-01 00:10:00  129727.527403
2012-01-01 00:15:00  129725.530758
2012-01-01 00:20:00  129723.534113
...                            ...
2023-03-31 23:35:00  187838.861704
2023-03-31 23:40:00  187841.132374
2023-03-31 23:45:00  187843.403043
2023-03-31 23:50:00  187845.673713
2023-03-31 23:55:00  187847.944382

[1183104 rows x 1 columns]